<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Ember.js • TodoMVC</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <script type="text/x-handlebars" data-template-name='todos'>
            <section id="todoapp">
                <header id="header">
                    <h1>todos</h1>
                    {{input type="text" id="new-todo" placeholder="What needs doin?" value=newTitle action="createTodo"}}
                </header>

                <section id="main">
                    <ul id="todo-list">
                        {{#each todo in model itemController="todo"}}
                            <li {{bind-attr class='todo.isCompleted:completed todo.isEditing:editing'}}>
                                {{#if todo.isEditing}}
                                    {{edit-todo class="edit" value=todo.title focus-out="acceptChanges" insert-newline="acceptChanges"}}
                                {{else}}
                                    {{input type="checkbox" checked=todo.isCompleted class="toggle"}}
                                    <label {{action "editTodo" on="doubleClick"}}>{{todo.title}}</label><button class="destory"></button>
                                {{/if}}
                            </li>
                        {{/each}}
                    </ul>
                    <input type="checkbox" id="toggle-all">
                </section>

                <footer id="footer">
                    <span id="todo-count">
                      <strong>2</strong> todos left
                    </span>
                    <ul id="filters">
                        <li>
                            <a href="all" class="selected">All</a>
                        </li>
                        <li>
                            <a href="active">Active</a>
                        </li>
                        <li>
                            <a href="completed">Completed</a>
                        </li>
                    </ul>
                    <button id="clear-completed">
                      Clear completed (1)
                    </button>
                </footer>
            </section>

            <footer id="info">
                <p>Double-click to edit a todo</p>
            </footer>
        </script>
        
        <script src="js/libs/jquery-1.11.1.min.js"></script>
        <script src="js/libs/handlebars-v1.3.0.js"></script>
        <script src="js/libs/ember.js"></script>
        <script src="js/libs/ember-data.js"></script>
        <script src="js/application.js"></script>
        <script src="js/router.js"></script>
        <script src="js/models/todo.js"></script>
        <script src="js/controllers/todos_controller.js"></script>
        <script src="js/controllers/todo_controller.js"></script>
        <script src="js/views/edit_todo_view.js"></script>
    </body>
</html>
